<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="fluid-container">
  
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-camera"></span> Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">menu item</a></li>
            
              <li class="divider"></li>
              <h4>Resources:</h4>
              <li><a href="https://developers.facebook.com/docs/facebook-login/access-tokens/expiration-and-extension">Facebook access token extension</a></li>
              <li><a href="https://codeforgeek.com/2014/09/facebook-login-using-nodejs-express/">Facebook login Node.js example</a></li>
            
          </ul>
      </li>
    </ul>

  </div>
</nav>
