<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h1>All Captured in a Flash</h1>
    <p> Photography</p>
    <a type="button" class="tele-button btn btn-lg btn-default" href="tel:1-814-317-5377"><span class="glyphicon glyphicon-phone-alt"></span>Call Now!</a>


  </div>
</div>

<div class="container">

    <div id="app"></div>

</div>

<% include ../partials/footer.ejs %>
</body>
</html>
